body {
    background-image: url('pics/7.jpg');
    background: transparent\0;
    background-size: cover;
    background-position: center;
}

/* #feedback {
    width: 200px;
    height: 100px;
} */

#words-game {
    height: 600px;
    width: 40%;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;  
}
#game-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
    width: 100% !important;
}

#title {
    text-align: center;
    padding-top: 20px;
    color: midnightblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
}




#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    padding-bottom: 25px;
}

#feedback {
    color: rgb(180, 54, 54);
    padding: 14px 0px;
    margin: 0 20px;
    padding-bottom: 25px;
}

#output strong{
    color: #575ed8;
}

input {
    padding: 10px 20px;
    /* box-sizing: border-box; */
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
#timer {
    font-size: 15px;
    padding: 10px;
    background: #00008B;
    height: 40px;
    color: white;
    text-align: center;
}
#game-over {
    background: lightblue;
    text-align: center;
    position: relative;
    display: none;
    width: 100%;
}
#game-over p {
    font-size: 20px;
    padding: 5px;
    padding-bottom: 0;
    font-weight: bold;
}
#play-again {
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    #words-game {
        width: 80%;
        height: 1200px !important;
    }
    #words-window {
        height: 1000px !important;
    }
}